html * {
    font-family: "Space Grotesk", sans-serif !important;
}

nav * {
    font-family: "Space Grotesk", sans-serif !important;
}

section {
    margin: 15px 0 15px 0;
}

section:last-child {
    margin-bottom: 0;
}

.content-wrapper {
    padding: 0 60px 0 60px;
}

.nav-tabs {
    border: none !important;
}

.nav-item > a {
    text-decoration: none;
}

.nav-right > .nav-item > a:hover {
    text-decoration: underline !important;
}

.nav-right {
    margin-left: auto;
}

.nav-item {
    margin: 10px 15px 10px 15px !important;
}

.portfolio-card {
    padding: 16px;
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
#portfolio-welcome-image {
    min-height: 300px;
    background-position: center;
}
#portfolio-welcome-image > * {
    background: transparent;
    text-align: center;
}
#portfolio-welcome-image > h1 {
    font-weight: bold;
}
#portfolio-welcome-image > div > a {
    text-decoration: none;
    padding: 8px;
    border-radius: 16px;
    background-color: rgba(45, 129, 255, 1.0);
    font-weight: 500;
}
#portfolio-welcome-image > div {
    width: 100%;
}
#portfolio-welcome-image > div > a:hover {
    text-decoration: underline;
}
#portfolio-about > p {
    font-weight: 400;
}
.tag-pill-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tag-pill {
    background-color: rgba(13, 202, 240, 0.3);
    border: 1px solid rgba(13, 202, 240, 1);
    border-radius: 8px;
    color: rgba(13, 202, 240, 1);
    padding: 4px;
    margin: 3px;
}
.project-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.project-image {
    width: 20%;
}
.project-image > img {
    max-width: 100px;
    object-fit: contain;
}
.project-info {
    margin-bottom: 12px;
}
.contact-wrapper {
    display: flex;
    margin: 8px 0;
}
.contact-input {
    border-bottom: 1px solid rgba(128, 128, 128, 1.0);
    background-color: rgba(128, 128, 128, 0.1);
    padding: 4px;
    margin-bottom: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.contact-content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Dark Scheme Behavior */
@media (prefers-color-scheme: dark) {
    html * {
        background: #1b1c23;
        color: #fffaf5;
    }
    .navbar-desktop {
        border-bottom: rgba(255, 250, 245, 0.1) 1px solid;
    }
    #portfolio-welcome-image {
        background-image: url("/static/image/BG_light.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #fffaf5;
    }
    #portfolio-welcome-image > * {
        color: #1b1c23;
    }
    .contact-link-icon {
        color: #fffaf5;
    }
}

/* Light Scheme Behavior */
@media (prefers-color-scheme: light) {
    html * {
        background: #fffaf5;
        color: #1b1c23;
    }
    .navbar-desktop {
        border-bottom: rgba(27, 28, 35, 0.1) 1px solid;
    }
    #portfolio-welcome-image {
        background-image: url("/static/image/BG_dark.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1b1c23;
    }
    #portfolio-welcome-image > * {
        color: #fffaf5;
    }
    .contact-link-icon {
        color: #1b1c23;
    }
}

/* Mobile Screen Behavior */
@media screen and (max-width: 600px) {
    .navbar-desktop {
        display: none;
    }
    .project-image {
        display: none;
    }
    .project-info {
        width: 80%;
    }
    .contact-wrapper {
        flex-direction: column;
    }
    .contact-content-wrapper {
        width: 100%;
    }
}
/* Desktop Screen Behavior */
@media screen and (min-width: 601px) {
    .navbar-mobile {
        display: none;
    }
    .project-info {
        width: 100%;
    }
    .contact-wrapper {
        flex-direction: row;
    }
    .contact-content-wrapper {
        width: 50%;
    }
}

/* Font Family Definition */
/* Bold */
@font-face {
    font-family: "Space Grotesk";
    font-weight: 700;
    src: url("/static/font/space_grotesk/SpaceGrotesk-Bold.ttf");
}
/* Semi Bold */
@font-face {
    font-family: "Space Grotesk";
    font-weight: 600;
    src: url("/static/font/space_grotesk/SpaceGrotesk-SemiBold.ttf");
}
/* Medium */
@font-face {
    font-family: "Space Grotesk";
    font-weight: 500;
    src: url("/static/font/space_grotesk/SpaceGrotesk-Medium.ttf");
}
/* Regular */
@font-face {
    font-family: "Space Grotesk";
    font-weight: 400;
    src: url("/static/font/space_grotesk/SpaceGrotesk-Regular.ttf");
}
/* Light */
@font-face {
    font-family: "Space Grotesk";
    font-weight: 300;
    src: url("/static/font/space_grotesk/SpaceGrotesk-Light.ttf");
}
